@import "tailwindcss";

body{
  background-color: #111;
  color: #fff;
}

#right-container::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(171, 171, 171);
  border-radius: 20px;
}
#right-container::-webkit-scrollbar-thumb:vertical{
  background-color: rgb(104, 102, 102);
  border-radius: 20px;
  height: 10px;
}

#card::-webkit-scrollbar{
  width: 6px;
  background-color: rgb(171, 171, 171);
  border-radius: 20px;
}
#card::-webkit-scrollbar-thumb:vertical{
  background-color: rgb(104, 102, 102);
  border-radius: 20px;
  height: 10px;
}