body{
  background-color: #111;
  color:#fff;
  font-size: 2vw;
}

.card{
  background-color: rgba(29, 191, 29, 0.485);
  padding: 20px;
  margin-top: 50px;
  border-radius: 30px;
  width: 50%;
}

.nav{
  width: 100%;
  height: 20%;
  background-color: rgba(198, 145, 76, 0.423);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .right{
  display: flex;
  width: 40%;
  gap: 20px;
  
}