@import "tailwindcss";


#right::-webkit-scrollbar{
         width: 5px;
        height: 5px;
        background-color: #aaaaaa;
        cursor: pointer;
        border-radius: 10px;
        scroll-snap-type: x mandatory;
}
#right::-webkit-scrollbar-thumb{
        cursor: pointer;
        border-radius: 10px;
        background-color: black;
}